/* font-family: 'Figtree', sans-serif; */
@import url('https://fonts.googleapis.com/css2?family=Figtree:wght@300;400;500;700;800;900&display=swap');
/* font-family: 'Titillium Web', sans-serif; */
@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:wght@300;400;600&display=swap');

:root {
  --background: #B3DEC1;
  --green-lght: #E5FCF5;
  --neutral: #FEFFFE;
  --dark: #210124;
  --alt-color: #750D37;
  --alt-color-2: #087E8B;
}

/* global */
body {
  margin: 0;
  color: var(--dark);
  background-color: var(--background);
  font-family: 'Titillium Web', sans-serif;
  text-align: center;
  letter-spacing: .05rem;
}


h1 {
  font-size: clamp(2.5rem, 5vw + 1rem, 4rem);
  letter-spacing: .5rem;
  font-weight: 600;
  padding: 0 10px;
  margin: 50px 0 50px;
}

h2 {
  color: var(--alt-color-2);
  font-weight: 900;
  letter-spacing: .3rem;
  padding: 5px;
  border-top: #087E8B solid 1px;
  border-bottom: #087E8B solid 1px;
}

h3 {
  font-size: 1.5rem;
}

h3,
h4 {
  font-weight: 300;
}

p {
  font-family: 'Figtree', sans-serif;
}

.link {
  color: var(--alt-color-2);
  font-size: 1.2rem;
  font-weight: 300;
  text-decoration: none;
  padding: 5px;
}

.link:hover {
  font-weight: 600;
}

.hidden {
  display: none;
}

/* NAV*/
nav {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  max-width: 320px;
  margin: 22px auto;
  padding: 0 10%;
}

/* HOME*/
.home-img {
  width: 100%;
  min-height: 50vh;
  max-height: 430px;
  max-width: 900px;
  object-fit: cover;
  border-radius: 5px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, .5)
}

/* BLOG PAGES*/
.blog-preview-container {
  margin: 0 auto;
  padding: 0 2vw;
  display: grid;
  grid-template-columns: auto;
  max-width: 900px;
}

.blog-preview {
  margin: 20px 2vw;
}

.blog-preview h3 {
  margin: 10px;
}

.blog-preview img {
  width: 100%;
  padding-bottom: 5px;
}

.blog {
  background-color: var(--green-lght);
  padding: 20px 0 0;
  border-radius: 5px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, .3);
  max-width: 950px;
  cursor: pointer;
}

.blog-item {
  margin: 20px 4vw;
}

.blog-item img {
  margin: 20px;
  width: 90%;
  border-radius: 5px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, .1)
}

.blog-item p {
  margin: 0 5%;
}

@media (min-width:500px) {
  .blog-preview-container {
    grid-template-columns: 1fr 1fr;
  }
}

/* admin and login form */
.form-section {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 30px;
}

.admin-img {
  height: 575px;
  border-radius: 10px 0 0 10px;
}

.login-img {
  height: 400px;
  border-radius: 10px 0 0 10px;
}


form {
  background-color: var(--green-lght);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  color: var(--alt-color-2)
}

.login {
  border-radius: 0 20px 20px 0;
  padding: 20px 50px 50px;
}

.admin {
  height: 515px;
  padding: 30px 40px;
  width: 350px;
  border-radius: 0 20px 20px 0;
}

form h2 {
  color: #210124;
  font-weight: 500;
}

form input,
textarea,
select,
button {
  border: solid 1px #087E8B;
  border-radius: 5px;
  margin: 10px;
}

form input,
select {
  height: 30px;
}

form label {
  font-weight: bold;
}

form textarea {
  height: 100px;
  width: 75%;
}

.date-type {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

form button {
  background-color: white;
  color: var(--alt-color-2);
  font-size: inherit;
  font-family: inherit;
  font-weight: 600;
  padding: 5px 10px;
}


.img-preview {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.img-preview img {
  height: 70px;
  padding: 5px;
}

/* FOOTER */
footer {
  padding: 15px 0;
}

footer .link {
  font-size: 1rem;
}